:root{
    --clr-primary-300:#F3EED9;
    --clr-primary-400:#824936;
    --clr-neutral-900:#222C2A;
    --clr-neutral-100:#FFF;

}
p{
    margin:0;
}
body{
    font-weight: 400;
    font-size:1.3125rem;
    line-height:1.6;
}
section{
    padding: 3rem 0;
}
.bg-light{background-color: var(--clr-primary-300);}
.bg-primary{background-color: var(--clr-primary-400);
color:var(--clr-neutral-100);
}
.bg-dark{background-color: var(--clr-neutral-900);
color: var(--clr-neutral-100);}
.container{
    margin-inline: auto;
    width: min(90%, 70.5rem)
}
.container-narrow{
    max-width:35rem;
}
.text-center{
    text-align:center;
}
img{
    display:block;
    max-width:100%;
}